/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/.idea/

/config.json
/mmdb/GeoLite2-Country.mmdb
/mmdb/GeoLite2-Country.mmdb.gz

.DS_Store

*.crt
*.key

/.vagrant/

/examples/httpasswd
/examples/node_modules/
